{% extends "vet_pages/base.html" %}

{% block title %}獸醫主控台{% endblock %}

{% block header %}獸醫主控台{% endblock %}

{% block content %}
<div class="card-container">
    <a href="{% url 'vet_availability_settings' %}">
        <div class="card">
            <div class="card-title">🕒 設定可預約時段</div>
            <div class="card-desc">選擇您開診的起始與結束時間。</div>
        </div>
    </a>
    <a href="{% url 'vet_appointments' %}">
        <div class="card">
            <div class="card-title">📅 查看預約時段</div>
            <div class="card-desc">檢視目前有哪些時段已被飼主預約。</div>
        </div>
    </a>
    <a href="{% url 'my_patients' %}">
        <div class="card">
            <div class="card-title">🐾 我的看診寵物</div>
            <div class="card-desc">為看診過的寵物新增或編輯病例記錄。</div>
        </div>
    </a>
</div>
{% endblock %}
